[webservers]
%{ for i in web ~}
${i.name} ansible_host=${i.ansible_host} fqdn=${i.fqdn} ansible_user=${i.user}
%{ endfor ~}

[databases]
%{ for i in db ~}
${i.name} ansible_host=${i.ansible_host} fqdn=${i.fqdn} ansible_user=${i.user}
%{ endfor ~}

[storage]
%{ for i in storage ~} 
${i.name} ansible_host=${i.ansible_host} fqdn=${i.fqdn} ansible_user=${i.user}
%{ endfor ~}